# Working with Data(frames)
dov-summer school 2019, peter.gruber@usi.ch

## Pandas Dataframes
* Pretty much like `data.frame()` in R
* Two-dimensional
* Labels for columns (=variables)
* Also labels for rows (less useful)
* Different types *per column* possible
* Columns are also called `axis 1` and rows `axis 2`

### Creating a dataframe by hand

In [1]:
import pandas as pd
day   = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
dow   = list(range(1,8))                                # dow = "day of week"
score = [-2,-0.1, 0.5, 1.1, 3.7, 11, 4]

df = pd.DataFrame()                                     # empty
df['Day'] = day
df['DOW'] = dow

print(df)

   Day  DOW
0  Mon    1
1  Tue    2
2  Wed    3
3  Thu    4
4  Fri    5
5  Sat    6
6  Sun    7

### *Now do the following ...*
* Add a `Score` column to the data frame
* Print the first two rows
* Print only the `Day` column
* Print the score for Monday

In [40]:
# Python code goes here
df['Score'] = score
print(df)
print('-'*30)

# showing first two rows
print(df.head(2))
print('-'*30)

print(df[0:2])
print('-'*30)

# show the Day column
print(df['Day'])
print('-'*30)

print(df.Day)

   Day  DOW  Score
0  Mon    1   -2.0
1  Tue    2   -0.1
2  Wed    3    0.5
3  Thu    4    1.1
4  Fri    5    3.7
5  Sat    6   11.0
6  Sun    7    4.0
------------------------------
   Day  DOW  Score
0  Mon    1   -2.0
1  Tue    2   -0.1
------------------------------
   Day  DOW  Score
0  Mon    1   -2.0
1  Tue    2   -0.1
------------------------------
0    Mon
1    Tue
2    Wed
3    Thu
4    Fri
5    Sat
6    Sun
Name: Day, dtype: object
------------------------------
0    Mon
1    Tue
2    Wed
3    Thu
4    Fri
5    Sat
6    Sun
Name: Day, dtype: object

In [46]:
# we can even interchange the cols easily
print('-'*10 + 'interchange the cols easily' + '-'*10)
print(df[['DOW','Day']])

print('-'*15)
print(df[df.Day =='Mon']['Score'])
print(type(df[df.Day =='Mon']['Score']))

print('-'*15)
print(df['Score'].loc[df.Day == 'Mon'])

print('-'*15)
print(df.Score.loc[df.Day == 'Mon'])

print('-'*15)
print(df['Day']=='Mon')

print('-'*15)
print(df['Score'][0])
print(type(df['Score'][0]))

----------interchange the cols easily----------
   DOW  Day
0    1  Mon
1    2  Tue
2    3  Wed
3    4  Thu
4    5  Fri
5    6  Sat
6    7  Sun
---------------
0   -2.0
Name: Score, dtype: float64
<class 'pandas.core.series.Series'>
---------------
0   -2.0
Name: Score, dtype: float64
---------------
0   -2.0
Name: Score, dtype: float64
---------------
0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: Day, dtype: bool
---------------
-2.0
<class 'numpy.float64'>

### *Searching and data manipulation*
* Print the row for Tuesday (NOT the second row!)
* Print the names of all days that have a negative score
* Change the score for Monday to -3
    ** Pay attention that `df[df.Day=='Tue']['Score'] = -3` is working on copy

In [54]:
# Python code goes here
print(df[df.Day == 'Tue'])

print('-'*10)
print(df[df['Score']<0]['Day'])

# df[df['Day'] == 'Mon']['Score'] = -3 # not the right way to do it
df.loc[0,'Score'] = -3
print(df.loc[0, 'Score'])
print(df)

   Day  DOW  Score
1  Tue    2   -0.1
----------
0    Mon
1    Tue
Name: Day, dtype: object
-3.0
   Day  DOW  Score
0  Mon    1   -3.0
1  Tue    2   -0.1
2  Wed    3    0.5
3  Thu    4    1.1
4  Fri    5    3.7
5  Sat    6   11.0
6  Sun    7    4.0

### *Get some more info on the dataframe ...*
* Use `df.dtypes` to see the types of the colums
* Use `df.columns` to see the names of the colums
* Use `df.shape` to obtain the dimension
* Use `df.shape` to obtain the number of rows only

In [71]:
df.rename(columns = {'DOW':'DayOfWeek'},inplace=True)
# Python code goes here
print(df.dtypes)

print('-'*10)
print(df.columns)

print('-'*10)
print(df.shape)

print('-'*10)
print(df.shape[0])

print('-'*10)
print(df.loc[0])

Day           object
DayOfWeek      int64
Score        float64
dtype: object
----------
Index(['Day', 'DayOfWeek', 'Score'], dtype='object')
----------
(7, 3)
----------
7
----------
Day          Mon
DayOfWeek      1
Score         -3
Name: 0, dtype: object

### *Change the dataframe ...*
* Have a look at the command `df.rename()`. What does it do?
* Show the entire dataframe in a nice design

In [72]:
df.rename(columns = {'DOW':'DayOfWeek'},inplace=True)
# Python code goes here

### Create a ataframe from a dictionary

In [73]:
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
dic = {'country':names, 'drives_right':dr, 'cars_per_cap':cpc}; print(dic)

cars = pd.DataFrame(dic); 
cars    # DataFrame created from dictionary

{'country': ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt'], 'drives_right': [True, False, False, False, True, True, True], 'cars_per_cap': [809, 731, 588, 18, 200, 70, 45]}

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

### *Select by criterion*
* Select the countries that drive right
* Select the countries that drive left and have a CPC larger 100

In [89]:
# Python code goes here
cars[cars.drives_right] == True

   country  drives_right  cars_per_cap
0    False          True         False
4    False          True         False
5    False          True         False
6    False          True         False

In [101]:
print(cars['country'][cars.drives_right == True])
print(cars.country[cars.drives_right == True])
print(cars.loc[cars.drives_right,'country'])

0    United States
4           Russia
5          Morocco
6            Egypt
Name: country, dtype: object
0    United States
4           Russia
5          Morocco
6            Egypt
Name: country, dtype: object
0    United States
4           Russia
5          Morocco
6            Egypt
Name: country, dtype: object

In [110]:
print(cars.loc[cars.drives_right == False & (cars.cars_per_cap > 100),'country'])
# python will operate `&` first

1    Australia
2        Japan
3        India
Name: country, dtype: object

### Write to CSV

In [111]:
cars.to_csv('cars.csv') # creates .csv file from Python in current working directory

### A few more operations

In [112]:
print(cars['country'])                   # selecting a column as Pandas Series, 1D labeled array
print(cars[['country']])                 # selecting a column as Pandas DataFrame
print(cars[['country', 'drives_right']]) # selecting more columns only as Pandas DataFrame
print(type(cars['country']))
print(type(cars[['country']]))

0    United States
1        Australia
2            Japan
3            India
4           Russia
5          Morocco
6            Egypt
Name: country, dtype: object
         country
0  United States
1      Australia
2          Japan
3          India
4         Russia
5        Morocco
6          Egypt
         country  drives_right
0  United States          True
1      Australia         False
2          Japan         False
3          India         False
4         Russia          True
5        Morocco          True
6          Egypt          True
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [115]:
print(cars.loc[:,'country'])           # selecting 'country' column

0    United States
1        Australia
2            Japan
3            India
4           Russia
5          Morocco
6            Egypt
Name: country, dtype: object

In [116]:
# Sometimes row labels are useful
row_labels = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG']
cars.index = row_labels
print(cars.loc['US', 'cars_per_cap'])          # select by row and column label
cars

809

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [118]:
# Raw access
print(cars.loc['US', 'cars_per_cap'])          # select by row and column label
print(cars.iloc[0,2])                          # select by row and column index

809
809

In [119]:
# Delete a column with the del() function
del(cars['country'])
cars

     drives_right  cars_per_cap
US           True           809
AUS         False           731
JAP         False           588
IN          False            18
RU           True           200
MOR          True            70
EG           True            45

In [120]:
# Delete a rows with the drop() method
dcars = cars.drop(['US', 'RU']); 
dcars

     drives_right  cars_per_cap
AUS         False           731
JAP         False           588
IN          False            18
MOR          True            70
EG           True            45