# Accessing the datahub server
dov-summer school 2019, peter.gruber@usi.ch and the alphacruncher team

In [2]:
from get_connection import engine 
# configrations included necessary to get acess to database, written by alphacruncher team

In [3]:
connection = engine.connect()
connection.execute("SELECT DATABASE_NAME FROM DM.INFORMATION_SCHEMA.DATABASES WHERE DATABASE_NAME <> 'DM'").fetchmany(20)

[('CORRPROXY',),
 ('CRSP_STOCK_AND_INDEXES',),
 ('CRSP_TREASURIES',),
 ('IVYDB',),
 ('P_USISS',)]

In [4]:
from db import *

In [5]:
tickers_df = list_tickers(start_date='2017-01-01')

In [8]:
tickers_df.head()

  ticker
0      A
1     AA
2    AAA
3   AAAB
4  AAABB

In [11]:
tickers_df.size

29762

### *Let us look for a few companies*
* MMM (Three M)
* FOBAR (does not exist)

In [18]:
# Python code goes here
print((tickers_df.ticker == 'MMM').sum())
print(sum(tickers_df.ticker == 'MMM'))
print(len(tickers_df[tickers_df.ticker == 'MMM']))
print(any(tickers_df.ticker == 'FOBAR'))
print('MMM' in tickers_df)

1
1
1
False
False

In [19]:
ibm_df = get_daily_data(tickers=['IBM', 'GOOG'], start_date='2018-01-01', end_date='2018-12-31')

In [20]:
ibm_df.head(10)

         date ticker     prc       ret      retx
0  2018-01-02    IBM  154.25  0.005410  0.005410
1  2018-01-03    IBM  158.49  0.027488  0.027488
2  2018-01-04    IBM  161.70  0.020254  0.020254
3  2018-01-05    IBM  162.49  0.004886  0.004886
4  2018-01-08    IBM  163.47  0.006031  0.006031
5  2018-01-09    IBM  163.83  0.002202  0.002202
6  2018-01-10    IBM  164.18  0.002136  0.002136
7  2018-01-11    IBM  164.20  0.000122  0.000122
8  2018-01-12    IBM  163.14 -0.006456 -0.006456
9  2018-01-16    IBM  163.85  0.004352  0.004352

In [21]:
m_aapl_df = get_monthly_data(tickers='AAPL', start_date='2000-12-01')

In [22]:
m_aapl_df.head(10)

         date ticker     prc       ret      retx
0  2000-12-29   AAPL  14.875 -0.098485 -0.098485
1  2001-01-31   AAPL  21.625  0.453782  0.453782
2  2001-02-28   AAPL  18.250 -0.156069 -0.156069
3  2001-03-30   AAPL  22.070  0.209315  0.209315
4  2001-04-30   AAPL  25.490  0.154962  0.154962
5  2001-05-31   AAPL  19.950 -0.217340 -0.217340
6  2001-06-29   AAPL  23.250  0.165413  0.165413
7  2001-07-31   AAPL  18.790 -0.191828 -0.191828
8  2001-08-31   AAPL  18.550 -0.012773 -0.012773
9  2001-09-28   AAPL  15.510 -0.163881 -0.163881

In [23]:
trs_sd_df = get_fixed_term_treasury_indices(start_date='2018-01-01', end_date='2018-02-01')

In [24]:
trs_sd_df.head(10).style.hide_index()