# From R to Python
dov-summer school 2019, peter.gruber@usi.ch

In [2]:
# Please run the following line
myname = 'Peter Gruber'
print(myname+', welcome to Python!')

Peter Gruber, welcome to Python!

## Operators
Perform the follwoing calculations

|  |  |
|:--|:--|
|$(a)\; 1/10^{-6}$   |$(b)\; \sqrt[4]{22}$    |
|$(c)\; 4^{3+2}$     |$(d)\; \frac{4+7}{12-2}$|
|$(e)\; (12-5)^{4/3}$|$(f)\; \frac{2^2}{3^3}$ |
|$(g)\; \ln(\frac{2+3}{4-1})$| $(h)\; 2^{3^4} $|

In [6]:
# Python code goes here
print(1/1E-6)
print(22 ** (1/4))
print(4 ** (3+2))
print((4+7) / (12-2))
print((12-5) ** (4/3))
print(2 ** 2 / 3 ** 3)
import math
print(math.log( (2+3)/(4-1) ))
print(2 ** 3 ** 4)

1000000.0
2.1657367706679937
1024
1.1
13.390518279406722
0.14814814814814814
0.5108256237659907
2417851639229258349412352

What's the price of a 1USD zero coupon bond with $r=5\%$ interest over $t=7$ years?
* With discrete compounding
* With continuous compounding

$$B_d = \frac{1}{(1+r)^t}$$
$$B_c = 1 \cdot e^{(-rt)}$$

In [9]:
# Python code goes here
r = 0.05
t = 7
Bd = 1 / (1+r)**t
print(Bd)
import math
Bc = 1 * math.exp(-r*t)
print(Bc)

0.7106813301301214
0.7046880897187134

### Comparisons and logical operators
Pretty much like in any other language
* `==` equality
* `!=` inequality
* `and` is logical *and*
* `or` is logical *or*
* **Careful** `&` and `|` are binary operators

In [10]:
print( 1==2 )
print( 1!=2 )
print( 1==1 and 2==2 )
print( 3&6 )
print( 1|2 )

False
True
True
2
3

### Two lesser known operators
* `%` is modulus (remainder)
* `//` is floor division (integer part)

Verify that it is always true that `a == (a//b)*b + (a%b)`

In [13]:
# Python code goes here
a = 11
b = 3
a == (a//b)*b + (a%b)

True

## Variables

Create the following variables
* `a` cotaining integer 5
* `b` containig real 5
* `c` containing the intgers 0,1,2,...,10
* `d` containing the logical value for "correct"

In [17]:
# Python code goes here
a = 5
b = 5.0
#c = [1,2,3,4,5,6,7,8,9,10]
c = list(range(0,11))
d = True

In [18]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(myname))
print(c)

<class 'int'>
<class 'float'>
<class 'list'>
<class 'bool'>
<class 'str'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
# Why is the class of `c` a `list` and not `integer`?
print(type(c[1]))

<class 'int'>

### Converting data types

In [20]:
a1 = int(a);     print(a1, type(a1))
a2 = float(a);   print(a2, type(a2))
a3 = complex(a); print(a3, type(a3))
a4 = str(a);     print(a4, type(a4))

5 <class 'int'>
5.0 <class 'float'>
(5+0j) <class 'complex'>
5 <class 'str'>

**A quick remark on complex numbers:** Should we care about complex numbers as (financial) economists? Yes! Complex numbers are used in several advanced numerical algorithms such as the Fast Fourier Transform (FFT) or the Cosine Transform (COS) algorithms.

#### Converting to logical/boolean values

In [21]:
print(int(True))
print(float(False))
print(bool(1))   
print(bool(0))    # obvious ...

1
0.0
True
False

In [22]:
# But what about these ...
print(bool(0.5))
print(bool(-1.2))
print(bool(1+2j))

True
True
True

### Working with strings

In [23]:
# Strings can be made with '' or with ""
text1 = 'Nice'
text2 = "Nice"
print(text1, text2)
print(text1 == text2)

Nice Nice
True

In [24]:
# So which one is better?
text3 = 'The single quote said: \'This is my text.\''
text4 = "The double quote answered: 'My text is easier'"
text5 = '''The single quote replied 'I can do easy, as well' '''
print(text3)
print(text4)
print(text5)

The single quote said: 'This is my text.'
The double quote answered: 'My text is easier'
The single quote replied 'I can do easy, as well'

In [26]:
# Important escape characters
text6 = 'This \t is a \nlong text \t with tabs'
print(text6)

This 	 is a
long text 	 with tabs

### A few unexpected things ...

In [29]:
print(myname * 2)
print(c)
print(c * 2)
print([0]*10)

Peter GruberPeter Gruber
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

#### ... and a few impossible ones

In [30]:
print(myname ** 2)
print(c ** 2)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

## Working with lists (and for-loops)

Create a list called `myList` with the following elements
* integer 1
* float 2.7
* string "three"
* a list containing 0,1,...5
and print the list

In [39]:
# Python code goes here
myList = [1, 2.7, "three", list(range(0,6)) ]
print(myList)

[1, 2.7, 'three', [0, 1, 2, 3, 4, 5]]

**Subsetting** Print the following outputs using `myList``
* `2.7`
* `1` (two possibilities)
* `0`
* `5` (as last element of the sub-list)

In [40]:
# Python code goes here
print(myList[1])
print(myList[0])
print(myList[3][1])
print(myList[3][0])
print(myList[3][-1])

2.7
1
1
0
5

**Slicing** Print the following outputs using `myList``
* `[1, 2.7]`
* `[2.7, 'three']`
* `[1, 2, 3, 4]`
* `[3, 4, 5]`  (find a cool way to do this)

In [41]:
# Python code goes here
print(myList[0:2])
print(myList[:2])
print(myList[1:3])
print(myList[3][1:5])
print(myList[-1][-3:])

[1, 2.7]
[1, 2.7]
[2.7, 'three']
[1, 2, 3, 4]
[3, 4, 5]

### What else can we do with a list?

Try this: type `myList.` and hit the `TAB` key

Now let us (in this oder) ...
* create a list `allItems` that is a copy of `myList`
* add the boolean value for "not correct" at the end of the `allItems`
* add integer 1 at the beginning of the `allItems`
* add the numbers 1,2,...,5 at the end of the list *as individual elements*

At the end ...
* display `myList` 
* display `allItems`
* tell us how many items there are in `allItems`
* tell us how often integer 1 appears in `allItems`

In [52]:
# Python code goes here
allItems = myList.copy()
allItems.append(True)
allItems.insert(0,1)      # at pos 0 insert 1
allItems.extend([1,2,3,4,5])
print(myList)
print(allItems)
print(len(allItems))
print(allItems.count(1))

[1, 2.7, 'three', [0, 1, 2, 3, 4, 5]]
[1, 1, 2.7, 'three', [0, 1, 2, 3, 4, 5], True, 1, 2, 3, 4, 5]
11
4

In [16]:
# Further discussion: why does 1 appear four times?

### Quick iterations through lists
In R (or MATLAB), we can something like this:
```R
vec <- c(-1,0,1,2)
sin(vec)
vec > 0
````

This will not work with a Python list.

In [53]:
# Slow version
import math
myList = list(range(-1,3))
for item in myList:
    print(math.sin(item))
for item in myList:
    print(item>0)

-0.8414709848078965
0.0
0.8414709848078965
0.9092974268256817
False
False
True
True

### List comprehension
Syntax: `[expression(item) for item in list]`

In [54]:
import math
[math.sin(item) for item in myList]

[-0.8414709848078965, 0.0, 0.8414709848078965, 0.9092974268256817]

Below is a list of (simple) returns `rsimple`. Produce ...
* log-returns `rlog` by applying $r_{log} = \ln(1+r_{smp})$
* the (simple) option `payoff` (i.e. all negative returns are zero)

In [60]:
rsimple = [0.0719, 0.0163, -0.0377, 0.0685, -0.0856, -0.0051, -0.0121]
# Python code goes here
print([math.log(1+item) for item in rsimple])
print([max(item,0) for item in rsimple])
print([item*(item>0) for item in rsimple])

[0.06943277471533682, 0.01616858116158369, -0.038429026619781856, 0.06625579577706527, -0.08948716650153617, -0.005113049386823014, -0.012173800931708762]
[0.0719, 0.0163, 0, 0.0685, 0, 0, 0]
[0.0719, 0.0163, -0.0, 0.0685, -0.0, -0.0, -0.0]

### Even cooler list comprehensions

In [61]:
studentList = ['Lisa Parolini', 'Paolo Montemurro', 'Luca Xausa', 'Tomas Fiala', 'Oliver Pedrini', 'Marta Feller', 
         'Davide Brignoli', 'Nicholas Grichin', 'Davide DeFilippis', 'Trevor Simon', 'Vito Zaccardo', 
         'Andreas Passano', 'Filippo Felappi', 'Stefania Riva', 'Nicolò Bassi', 'Jonas Looser', 'Mattia Albertini', 
         'Tetteng Gaduel', 'Marko Mirkovic', 'Anna Sturaro', 'Massimo Caprari', 'Anastasiya Varvus']

In [62]:
# A bit of string magic
student = studentList[0]
print(student)
print(student.find(' '))
print(student[:student.find(' ')])

Lisa Parolini
4
Lisa

In [63]:
firstNames = [student[:student.find(' ')] for student in studentList]
print(firstNames)

['Lisa', 'Paolo', 'Luca', 'Tomas', 'Oliver', 'Marta', 'Davide', 'Nicholas', 'Davide', 'Trevor', 'Vito', 'Andreas', 'Filippo', 'Stefania', 'Nicolò', 'Jonas', 'Mattia', 'Tetteng', 'Marko', 'Anna', 'Massimo', 'Anastasiya']

In [66]:
# Our rule: female names end with "a"
firstNames[0][-1] == 'a'

True

In [68]:
# If-else: conditions before iteration (not so cool here)
femaleStudents = [item if item[-1]=='a' else '' for item in firstNames]
print(femaleStudents)

['Lisa', '', 'Luca', '', '', 'Marta', '', '', '', '', '', '', '', 'Stefania', '', '', 'Mattia', '', '', 'Anna', '', 'Anastasiya']

In [69]:
# Filtering: if condition at the end
femaleStudents = [item for item in firstNames if item[-1]=='a']
print(femaleStudents)

['Lisa', 'Luca', 'Marta', 'Stefania', 'Mattia', 'Anna', 'Anastasiya']

$\rightarrow$ *Now produce a list of all male students*

In [70]:
# Python code goes here
maleStudents = [item for item in firstNames if item[-1]!='a']
print(maleStudents)

['Paolo', 'Tomas', 'Oliver', 'Davide', 'Nicholas', 'Davide', 'Trevor', 'Vito', 'Andreas', 'Filippo', 'Nicolò', 'Jonas', 'Tetteng', 'Marko', 'Massimo']